lacuisine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="clientService"

    xmlns="http://schemas.xmlsoap.org/wsdl/"

    targetNamespace="http://truetechsystems.com.br/lacuisine/hmi/v1/"

    xmlns:tns="http://truetechsystems.com.br/lacuisine/hmi/v1/"

    xmlns:cmn="http://truetechsystems.com.br/lacuisine/common/v1/"

    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">

    <types>
        <xs:schema
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://truetechsystems.com.br/lacuisine/hmi/v1/"
            xmlns:tns="http://truetechsystems.com.br/lacuisine/hmi/v1/"
            elementFormDefault="unqualified">
            
            <xs:import namespace="http://truetechsystems.com.br/lacuisine/common/v1/" schemaLocation="common.xsd"/>

            <!-- OpenUserSession -->
            <xs:element name="DataUserSessionRequest" type="tns:DataUserSessionType" />
            <xs:complexType name="DataUserSessionType">
                <xs:annotation>
                    <xs:documentation>
                       Request a new session for user
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="userName" type="xs:string" />
                    <xs:element name="passwd" type="xs:string" />
                    <xs:element name="deviceId" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="OpenUserSessionResponse" type="tns:OpenUserSessionResponseType" />
            <xs:complexType name="OpenUserSessionResponseType">
                <xs:annotation>
                    <xs:documentation>
                       Return the result for OpenUserSession request
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="userDataSession" type="cmn:UserDataSession" />
                    <xs:element name="response" type="cmn:SessionEnum" />
                    <xs:element name="success" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>

            <!-- CloseUserSession -->
            <xs:element name="CloseUserSessionResponse" type="tns:CloseUserSessionResponseType" />
            <xs:complexType name="CloseUserSessionResponseType">
                <xs:annotation>
                    <xs:documentation>
                       Return the result for CloseUserSession request
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="response" type="xs:boolean" />
                    <xs:element name="success" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </types>

    <!-- messages -->

     <!-- OpenUserSession -->
    <message name="OpenUserSessionIn">
        <part name="parameters" element="tns:DataUserSessionRequest" />
    </message>

    <message name="OpenUserSessionOut">
        <part name="parameters" element="tns:OpenUserSessionResponse" />
    </message>

    <!-- CloseUserSession -->
    <message name="CloseUserSessionIn">
       <part name="parameters" element="tns:DataUserSessionRequest" />
    </message>

    <message name="CloseUserSessionOut">
       <part name="parameters" element="tns:CloseUserSessionResponse" />
    </message>

    <!-- portType -->
     <portType name="clientServiceInterface">

        <!-- OpenUserSession -->
        <operation name="OpenUserSession">
            <input message="tns:OpenUserSessionIn" />
            <output message="tns:OpenUserSessionOut" />
        </operation>

        <!-- CloseUserSession -->
        <operation name="CloseUserSession">
            <input message="tns:CloseUserSessionIn" />
            <output message="tns:CloseUserSessionOut" />
        </operation>

     </portType>

    
    <!-- binding -->
    
      <binding name="LacuisineBinding" type="tns:clientServiceInterface">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <!-- OpenUserSession -->
        <operation name="OpenUserSession">
            <soap12:operation soapAction="tns:OpenUserSession" style="document" />
            <input>
                <soap12:body use="literal" />
            </input>
            <output>
                <soap12:body use="literal" />
            </output>
        </operation>

        <!-- CloseUserSession -->
        <operation name="CloseUserSession">
            <soap12:operation soapAction="tns:CloseUserSession" style="document" />
            <input>
                <soap12:body use="literal" />
            </input>
            <output>
                <soap12:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- service -->
    
    <service name="clientService">
        <port name="clientServiceInterface" binding="tns:LacuisineBinding">
            <soap12:address location="http://localhost:9090/zzz"/>
        </port>
    </service>
    
</definitions>
